/* Elementos com "#" para ID*/
/* Elementos com "." para class*/
/* Todos os elementos da página"*" */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Elementos com o ID "titulo" */
  #titulo {
    font-family: sans-serif;
    color: #080708;
    margin-left: 7%;
  } 
  
  /* Elementos com o ID "subtitulo" */
  #subtitulo {
    font-family: sans-serif;
    color: #080708;
    margin-left: 10%;
  } 
  
  /* Elementos de tag <fieldset> AGRUPAMDOR*/
  /*sem . pq é padrão*/
  fieldset {
    border: 0;
  }
  
  /* Elemento de tag <body> */
  /*todo corpo do html*/
  body{
    background-color: #dbe2e2;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 10%;/*esquerda*/
    margin-top: 2%; /*de cima para baixo*/
    justify-content: center;/*centralizado*/
  }
  
  /* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
  /*borda para todas as caixas de texto*/
  input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px; /*cuvatura da borda*/
  }
  /* Elementos de class "campo"  */
  /*distancia,dos elementos:Nome,sobreno e e-mail*/
  .campo {
    margin-bottom: 1em;
  
  }
  
  /* Elementos de classe "campo" de tag <label> F-B-FULL*/
  /*cor das label*/
  .campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
  
  }
  
  /* Elementos de classe "campo" ou "grupo" de tag <fieldset> N-S-EMAIL*/
  fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
  }
  
  /* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
  .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    display: block;
  }
  
  /* Elementos de classe "campo" de tag <select> e <option>*/
  .campo select option {
    padding-right: 1em;
  }
  
  /* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
  /*deixar o fundo em evidencia*/
  .campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
  }
  
  /* Elemento de classe "botao" */
  .botao { 
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;/*margin de baixo*/
    color: #ffffff;
    padding: 0.2em 0.6em;
  }
  
  /* Elemento de classe "botao" com o estado "hover" */
  /*quando passar o mouse por cima muda a cor*/
  .botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
  }
  
  
  /*Elemento de classe imagem*/
  .imagens{
    right: 100px;
    position: absolute;
    top: 90px;
  }